:root{
    padding: 100px;
}

.intro {
    gap: 10px;
    padding: 20px;
}

.nav{
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.about:hover, .menu:hover, .rev:hover, .address:hover {
    color:aliceblue;
    
}

.header{
    display: flex;
    justify-content: center;
    
}

.title{
    font-size: 3rem;
    color:aqua;
}

.title:hover{
   color: aliceblue;
}

.restaurant-image{
    align-self: center;
    justify-content: center;
    display: flex;
    max-height: 500px;
    transform: rotate(90deg);
}

.home{
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-header{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.logo-image{
    padding:10px;
    max-height: 6rem;
    justify-self: center;
    align-self: center;
    display: flex;
    filter: drop-shadow(0px 15px 60px #a5a5a5);
    transition: transform 250ms
}

.logo-image:hover{
    transform: scale(1.20);
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.nav:hover{
transform: scale(110%);
color:green;
}

.nav:active{
    transform: scale(110%);
    color: lightcoral
}

.nav-activeTab{
    color:lightsalmon;
    transform: scale(130%);
    filter: drop-shadow(0px 2px 3px #cfcfcf);
    font-weight: bold;


}

.nav-inactiveTab{
    color:antiquewhite
}

.menuItemOne-image, .menuItemTwo-image, .menuItemThree-image {
    display: flex;
    max-height: 400px;
    max-width: 400px;
    padding: 2rem;
}

.menu{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.menu>*{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
}

.map-div{
    display: flex;
    flex-direction: row;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reservations-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
}

#callDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}



.div-reservation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input:focus {
	border-style: solid;
	border-bottom-width: 0.1rem;
	outline: none;
	border-color: lightcoral;
}

input:hover{
    color: whitesmoke;
    border-color: whitesmoke;
}

input,
select {
	border-style: solid;
	outline: none;
	border-radius: 10px;
	height: 2rem;
	border-color: rgba(rgba(176, 218, 185, 0.26), green, blue, alpha);
	font-size: 1.5rem;
	font-family: var(--menu-font);
	padding: 5px;
	background-color: var(--main-color);
	color: var(--orange);
}


.submit-input{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 1.5rem;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: green;
    background-color: lightgreen;
}

.submit-input:active{
    transform: scale(104%);
	border-style: solid;
	border-bottom-width: 0.1rem;
	outline: none;
	border-color: lightcoral;
}

